*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   p{
    line-height: 30px;
   }
}
.continer{
    background-color:#FFFFFF;
    border: 1px solid rgb(250, 247, 247);
    height: 70px;
    display: flex;
    justify-content:space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding-left:20px;
    padding-right: 20px;
    font-size: 25px;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(219, 219, 219);
}
.line{
    cursor: pointer;
}

.ZR {
    column-gap: 10px;
}
.ZR i{
    padding: 15px;
}
.get a{
    padding: 30px;
    cursor: pointer;
}
.get i{
    padding: 15px;
}
a{
    text-decoration: none;
    color: #48487f;

}
.heading{
  color: #48487f;
  font-family: "Comfortaa",sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  line-height: 1.2;
}
.address{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
}
.address2{
    border: none;
    width: 350px;
    text-align: justify;
}
.text-button button{
    background-color:#48487f;
    padding: 20px;
    color:#FFFFFF;
    width:200px;
    margin-top: 20px;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
.text_img{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.update h2{
    text-align: center;
    color: crimson;
    padding-top: 50px;
}
.main_img{
    border:none;
    width: 350px;
    height: auto;
    padding-top: 50px;
   
}
.main{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 50px;
    padding-top: 50px;
}
.img1 img{
    width: 350px;
    height: 370px;
    padding-bottom: 30px;
}
.Posted{
    color: #48487f;
    font-size: 20px;
    padding-bottom: 10px;
}
.call{
    color: #48487f;
    padding-top: 30px;
}
.office{
    padding-bottom: 20px;
}
.page{
    padding-top: 30px;
}
.test1{
    height: 20px;
    width: 20px;
    color: rgb(252, 252, 19);
}
.test{
    text-align: center;
    color: #48487f;
    padding-top: 50px;
}
.main-star{
    border: none;
    width: 300px;
    background-color: rgb(249, 250, 250);
    padding: 30px;
    line-height: 2rem;
}
.star{
    display: flex;
    padding-bottom: 20px;
}
.main-test{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 30px;
    padding-top: 60px;
    padding-bottom: 50px;
    margin-top: 50px;
}
.month{
    color: crimson;
    font-weight: bold;
}
.name{
    text-align: center;
    color: crimson;
    padding-top: 15px;
}
.gallery img{
    width: 350px;
    height: 370px;
}
.gallery video{
    width: 350px;
    height: 370px;
}
.main-gallery h2{
    text-align: center;
    color: #48487f;
    margin-top: 50px;
}
.all-type h2{
    text-align: center;
    color: crimson;
    padding-top: 50px;
}
.scraps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    padding-top: 40px;
}
.all-type img{
    width: 400px;
    height: 700px;
}
.all h2{
    text-align: center;
    color: #48487f;
    margin-top:50px;
}
.all-text{
    text-align: center;
    color: crimson;
    padding-top: 20px;
    font-size: 25px;
}
.all-compressor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 40px;
}
.cantact h1{
    text-align: center;
    color: #48487f;
    margin-top: 60px;

}
.loction{
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    margin-top: 50px;
    margin-bottom: 50px;
}
.loction iframe{
    width: 80%;
    height: 475px;
}
.cont{
  border:none;
  width: 300px;
  line-height: 45px;
  
}
.cont1{
    border:none;
    width: 300px;
    line-height: 50px;
    
  }
  .cont2{
    border:none;
    width: 300px;
    padding-top: 10px;
    line-height: 40px;
    
  }
.now1 a{
   background-color: #48487f;
   color: #FFFFFF;
   font-size: 20px;
   padding: 12px;
}
.address12{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
}
.video video{
    height: 200px;
    width: 200px;
}
.foot{
    background-color: #f4f4f7;
    height: 50px;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    color:gray;
}
@media (max-width:850px) {
    .get a{
        padding: 10px;
        bottom: auto;
    }
}
@media (max-width: 600px) {
    .continer{
        font-size: 18px;
        display:flex;
        justify-content: end;
        align-items:center;
    }
    .main .heading{
        font-size: 20px;
    }
}
@media (max-width:500px) {
    .continer{
        width: 98%;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    .ZR{
        padding-left: 13px;
    }
    .main .heading{
        font-size: 35px;
    }
    .get a{
        padding: 27px;
    }
    .ZR{
        column-gap: 5px;
    }
    .main .text_img img{
        width:90%;
        

    }
}
@media (max-width:400px) {
    .continer{
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
     .continer .haid{
        width: 70%;
     }
    .main .heading{
        font-size: 13px;
    }
    .main .text_img img{
        width:91%;
}
.address12{
    line-height: 1.5em;
}
.ZR i{
    padding: 15px;
}
.sp{
    display: none;
}
.main-gallery h2{
    margin-top: 2px;
} 
.all-type h2{
    padding-top: 20px;
} 
.main-test{
    margin-top: 0px;
    padding-bottom: 40px;
}   
.update h2{
    padding-top: 0px;
}
.cont{
    line-height: 50px;
}
.cont2{
    line-height: 35px;
}
.loction iframe{
    width: 95%;
    height: 200px;
}
.foot{
    height: 38px;
    font-size: 14px;
}
.main .toglediv {
    width: 95%;
    left: 3%;
    right: 100%;
    top:5%;
    height: 470px;
}
.what{
    display: block;
}

.get{
    position: fixed;
    background-color: #FFFFFF;
    bottom:0;
    left: 0;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.continer .what{
    display: block;
    
}
.continer .what .fa-brands{
    font-size: 25px;
    padding-left: 40px;
}
body .whatsapp{
    display: none;
}
.get i{
    padding: 0;
    padding-top: 10px ;
    display: flex;
    justify-content: center;
    
}

    }
    .toglediv {
    width: 400px;
    height:auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    left: 500px;
    top:200px;
    
   
}
.icon{
    float: right;
    cursor: pointer;
}
.fa-xmark {
    position:relative;
    top:10px;
    right:10px;
}
.haid{
    background-color: #fdf9f9;
    box-shadow:rgba(184, 184, 184, 0.35) 5px 5px 15px; ;
    height: 100vh;
    width: 30%;
    color: #48487f;
    position: fixed;
    top: 72px;
    left: 0;
    display: none;
}
.nav{
    display: flex;
    justify-content: end;
    padding: 15px;
    cursor: pointer;
}

.num{
    color: black;
    text-align: left;
}
.haid a{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 7px;
    margin-left: 25%;
    margin-top: 10%;

}

.toglediv {
    background-color: rgb(247, 242, 242);
    /* height: 500px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    position: fixed;
    top: 15%;
    left: 40%;
}
.toglediv .icon{
    text-align: right; 
   
}
.toglediv{
    z-index: 1; 
}
.formcontainer input{
    width: 90%;
    padding:10px ;
   
    border-radius: 3px;
    
    margin-left:10px;
    margin-top: 30px;;
}
.text textarea{
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;
    margin-top: 20px;
}
.paira p{
    margin-left: 10px;
    margin-top: 20px;
}
button{
    margin-bottom: 14px;
    width: 95%;
    padding:10px 5px ;
    border-radius: 3px;
    margin-left:10px;
    display: block;
    margin-top: 25px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(19, 219, 19);
}

.whatsapp{
    position: fixed;
    top:400px;
     left:96%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.what{
    padding-top:6px;
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    display: none;
}
.what .fa-brands{
    color: green;
    font-size: 40px;
}

.fa-brands{
    font-size: 50px;;
    color:rgb(251, 253, 251);
}

 .Nspanid,.Pspanid,.Espanid{
    padding-left: 10px;
    color: red;
    display: none;
 }